<div id='state'>
</div>

<%= turbo_stream_from 'test' %>
<div id='home'>
</div>

<div id='board' data-controller='hello'>
  <button id='move-btn' data-action='hello#move'> do something </button>
</div>
